<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Деталі події</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>{{ event['name'] }}</h1>
    <p><strong>Опис:</strong> {{ event['description'] }}</p>
    <p><strong>Дата:</strong> {{ event['date'] }}</p>
    <p><strong>Широта:</strong> {{ event['latitude'] }}</p>
    <p><strong>Довгота:</strong> {{ event['longitude'] }}</p>
    {% if event['image'] %}
        <img src="{{ url_for('uploaded_file', filename=event['image']) }}" alt="Event Image" style="max-width: 100%; height: auto;">
    {% endif %}
    <a href="/">На головну</a>
</body>
</html>
