<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical Events Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css">
</head>
<body>
    <nav class="navbar">
        <h1>Historical Events Map</h1>
        <div id="searchEvent">
            <input type="text" id="searchInput" placeholder="Search by event title...">
        </div>
        <div id="periodContainer">
            <select id="periodSelect">
                <option value="">All Periods</option>
            </select>
        </div>
    </nav>
    <div id="sidebar">
        <div id="resultsContainer"></div>
    </div>
    <div id="mapContainer">
        <button id="toggleSidebar">&#9776;</button>
        <div id="map"></div>
        <div id="yearSliderContainer">
            <label for="yearRange">Year Range: </label>
            <div id="yearRange"></div>
            <span id="startYearLabel">1000</span> - <span id="endYearLabel">2024</span>
            <input type="number" id="searchYear" placeholder="Enter year">
            <button id="searchButton">Search</button>
        </div>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
