{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<style>
    body {
        font-family: 'Georgia', serif;
        background-color: #1a1a1a;
        color: #f8f0e3;
        text-align: center;
        padding: 30px;
        margin: 0;
    }

    h2 {
        font-size: 32px;
        color: #f8f0e3;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    form {
        background-color: #2c2c2c;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: 0 auto;
        border: 1px solid #444;
        text-align: center;
    }

    label {
        font-size: 18px;
        color: #ffffff;
        display: block;
        margin-bottom: 10px;
        text-align: left;
        width: 100%;
    }

    input[type="email"],
    input[type="text"],
    input[type="password"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        border: 1px solid #444;
        background-color: #2c2c2c;
        color: #ffffff;
        border-radius: 5px;
        outline: none;
        transition: all 0.3s ease;
    }

    input[type="email"]:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    select:focus {
        border-color: #f8f0e3;
        background-color: #444;
        transform: scale(1.02);
    }

    button {
        font-family: 'Georgia', serif;
        font-size: 20px;
        color: #f8f0e3;
        background-color: #444;
        padding: 12px 24px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    button:hover {
        background-color: #595959;
        transform: scale(1.05);
    }

    p {
        text-align: center;
        margin-top: 20px;
    }

    a {
        color: #f8f0e3;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Головна</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('gallery') }}">Постаті</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('test') }}">Тести</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('test_leaders') }}">Таблиця лідерів</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('developers') }}">Розробники</a>
                    </li>
                    {% if session.get('role') in ['admin', 'super_admin'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_figure') }}">Додати постать</a>
                    </li>
                    {% endif %}
                    {% if session.get('role') in ['super_admin'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Зареєструвати нового адміна</a>
                    </li>
                    {% endif %}
                </ul>
                <span class="navbar-text">
                    <a class="contact-button" href="https://t.me/feedback_website123_bot" target="_blank">Зв'язатися</a>
                </span>
            </div>
        </div>
    </nav>

<h2>Registration</h2>
<form method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="role">Role:</label>
    <select id="role" name="role">
        <option value="admin">admin</option>
        <option value="super_admin">super admin</option>
    </select>

    <button type="submit">Register</button>
</form>
<p><a href="{{ url_for('login') }}">Log in here</a></p>
{% endblock %}
